@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Shrikhand&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.8em; /*space between lines*/
}
body {
  color: #414141;
  background-color: rgb(241, 227, 228);
}
h1 {
  font-size: 2em;
}
h1,
h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1200px;
}
img {
  border-radius: 10px;
}
.projects__project {
  border-radius: 5px;
  background-color: rgb(253, 253, 253, 0.5);
}

a {
  text-decoration: none; /*removed all underlines*/
  color: inherit;
}

button{
  width: 25%;
  background-color: rgb(203, 255, 213, 0.5);
  border-radius: 5px;
align-self: center;
}